<!DOCTYPE html>
<html>
  <head>
    <title>Quotes</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Quotes</h1>
    <p><%= content %></p>
    <p><%= author %></p>
  </body>
</html>
